
<div class="task-card">
<mat-card>
    <mat-card-title>{{ task.title }}</mat-card-title>
    <mat-card-content>
      <p>{{ task.description }}</p>
      <p><strong>Start Date:</strong> {{ task.startDate | date }}</p>
      <p><strong>Created Date:</strong> {{ task.createdDate | date }}</p>
    </mat-card-content>


    <mat-card-actions>
      <mat-form-field appearance="fill">
        <mat-label>Progress</mat-label>
        
        <mat-select [(value)]="task.state"  [disabled]="task.state==='done'" (selectionChange)="updateTaskState(task.id,$event.value)">
            <mat-option value="todo">To-Do</mat-option>
            <mat-option value="inprogress">InProgress</mat-option>
            <mat-option value="done">Done</mat-option>
          

        </mat-select>
      
      </mat-form-field>
      <button mat-icon-button [ngStyle]="getButtonStyle(task.state)" class="status-button">
        <mat-icon></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


